// Import from feedbackfruits-styles package
@import 'feedbackfruits-components';
@import 'feedbackfruits-platform';
@import 'components';

.rt-cover-background {
  background-image: url('/images/background.jpg');
  background-size: cover;
}

.rt-settings-panel .fbf-layout--flow-right {
  align-items: flex-start;
}
