// Import from feedbackfruits-styles package
@import 'feedbackfruits-components';
@import 'feedbackfruits-platform';
@import 'components';

.rt-cover-background {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: bottom;
}

.fbf-layout__center-column {
  &.rt-runs-page {
    max-width: 1400px;
  }

  @media(min-width: $desktop-layout-min-width) {
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
  @media(min-width: $desktop-large-min-width) {
    margin-top: 16vh;
    margin-bottom: 16vh
  }
}

.rt-enroll-button {
  border-radius: 32px;
  padding: 8px 24px;
}

.rt-run-list-item--large {
  height: 120px !important;

  .fbf-data-table__cell-wrapper {
    padding: 16px;
    align-items: flex-start;
  }
}

.fbf-badge:last-child {
  margin-left: 0;
}
