<nav class="fbf-app-bar fbf-app-bar--transparent context--dark scrim-up--50">
  <div class="fbf-tool-bar">
    <!-- <FbfButton @icon="menu"/> -->
    <h1 class="text--h5">Runtracker</h1>
    <span class="fbf-layout__spanner"></span>
    <FbfLinkButton @route="runs">Runs</FbfLinkButton>
    <FbfLinkButton @route="about">About</FbfLinkButton>
  </div>
</nav>
