<nav class="fbf-app-bar fbf-app-bar--transparent context--dark scrim-up--50">
  <div class="fbf-tool-bar">
    <LinkTo @route="index" class="fbf-layout--flow-right">
      <img width="24px" height="24px" src="/images/logo-silhouette.svg" alt="Runtracker icon of a white silhouetted stylized viking helmet" class="margin-right-md"/>
      <h1 class="text--h5">Survivalruns</h1>
    </LinkTo>
    <span class="fbf-layout__spanner"></span>
    <FbfLinkButton @route="runs">Runs</FbfLinkButton>
    <FbfLinkButton @route="about">About</FbfLinkButton>
  </div>
</nav>
