<div class="rt-circuits-indicator">
  {{#each @circuits as |distance|}}
    <FbfChip>
      <p>{{distance}} km</p>
    </FbfChip>
  {{/each}}
  {{#if this.hasCircuitsOverlow}}
    <FbfChip>
      <p>+3</p>
    </FbfChip>
  {{/if}}
</div>
