<div class="rt-circuits-indicator">
  {{#each (if this.hasCircuitsOverlow (take this.overflowThreshold @model.distances) @model.distances) as |distance|}}
    <FbfChip>
      <p>{{distance}} km</p>
    </FbfChip>
  {{/each}}
  {{#if this.hasCircuitsOverlow}}
    <FbfChip {{on "click" this.toggleDistancesExpanded}} class="fbf-chip--actionable">
      <p>+{{this.circuitsOverflowLength}}</p>
    </FbfChip>
  {{/if}}
</div>
