.rt-settings-panel__columns {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 32px 40px;

  & > .rt-settings-panel__setting {
    @include content-margin(column, 8px);
    @include fbf-layout--flow-down;
  }
  & > .fbf-list-item {
    flex-shrink: 1;
  }

  @media (max-width: $desktop-max-width) {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
  }
  @media (max-width: $notepad-width-in) {
    grid-template-columns: auto auto;
  }
  @media (max-width: $phone-max-width) {
    grid-template-columns: auto;
  }
}
