<div class="fbf-layout__center-column fbf-layout__center-column--huge-width fbf-layout__center-column--margin-vertical">
  <div class="fbf-card--base border-radius-sm content-padding-lg">
    <h1 class="text--h2 text--thin">
      Survivalruns
    </h1>
    <FbfSpinner/>
  </div>
</div>
